# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/PathoLabUI/node_modules
/PathLab-Desktop/node_modules

# Build results
dist
dist_prod
dist-ssr
[Dd]ebug/
[Rr]elease/
/PathoLabUI/dist
/PathLab-Desktop/dist
/PathLab-Desktop/dist_prod

# Editor/OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sln
*.sw?
.vs/

# .NET Specific
*.user
*.userprefs
*.rsuser
[Bb]in/
[Oo]bj/
project.lock.json
artifacts/

# Others
*.pfx
*.publishsettings
*.db
